{% extends "admin/change_form.html" %}
{% load i18n %}

{% block inline_field_sets %}
    {{ block.super }}

    {% if inline_pagination and inline_pagination.total_pages > 1 %}
    <div class="module">
        <p class="paginator">
            {% if inline_pagination.current_page > 1 %}
                <a href="?inline_page=1">«</a>
                <a href="?inline_page={{ inline_pagination.current_page|add:"-1" }}">‹</a>
            {% endif %}

            {% for page_num in inline_pagination.page_range %}
                {% if page_num == inline_pagination.current_page %}
                    <strong>{{ page_num }}</strong>
                {% else %}
                    <a href="?inline_page={{ page_num }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}

            {% if inline_pagination.current_page < inline_pagination.total_pages %}
                <a href="?inline_page={{ inline_pagination.current_page|add:"1" }}">›</a>
                <a href="?inline_page={{ inline_pagination.total_pages }}">»</a>
            {% endif %}

            {{ inline_pagination.total_count }} {% trans "options total" %}
        </p>
    </div>
    {% endif %}
{% endblock %}
